*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}



div{
    width: 200px;
    height: 200px;
}

#red{
    background: #ff0000;
}

#yellow{
    background: #ff0;
}

// #draggable {
//     background: transparent;

//     .ball{
//         width: 200px;
//         height: 200px;
//         background: #ff0000;
//         border-radius: 50%;
//     }
//   }
  
//   .dropzone {
//     width: 220px;
//     background: blueviolet;
//     margin: 10px;
//     padding: 10px;
//   }
  
//   .dropzone.dragover {
//     background-color: purple;
//   }
  
//   .dragging {
//     opacity: .5;
//   }